apturl
attrs
bcrypt
brlapi
cached-property
certifi
chardet
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
docker
docker-compose
dockerpty
docopt
duplicity
entrypoints
fasteners
flask
future
gymnasium
idna
imageio
jsonschema
language-selector
launchpadlib
lockfile
louis
macaroonbakery
mako
matplotlib
monotonic
more-itertools
netifaces
networkx
olefile
pandas
paramiko
pexpect
pip-chill
psutil
pycups
pygobject
pyjwt
pymacaroons
pynacl
pyrfc3339
pyrsistent
python-apt
python-debian
pyxdg
pyyaml
reportlab
requests-unixsocket
scipy
simplejson
ssh-import-id
systemd-python
tensorflow
texttable
tf-agents
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
virtualenv
websocket-client
xkit
